<header id="homepage-header">Homepage</header>

<section id="post-container" user-id="{{user_id}}">
  {{#if posts}}

  {{#each posts as |post|}}
  {{> post}}
  {{/each}}

  {{else}}

  <div class="error-container">
    <h2>It looks like there's no posts right now!</h2>

    {{#if logged_in}}

    <p>Be the first to make one by going to your <a href="/dashboard">dashboard!</a></p>

    {{else}}

    <p>Be the first to make one by signing up <a href="/login">here!</a></p>

    {{/if}}
  </div>

  {{/if}}

</section>