<form class="signup-form">
  <div class="form-group">
    <label for="signup-name">Username</label>
    <input type="text" class="form-control" id="signup-name" placeholder="TonyQ032">
  </div>

  <div class="form-group">
    <label for="signup-email">Email</label>
    <input type="email" class="form-control" id="signup-email" placeholder="techiscool@gmail.com">
  </div>

  <div class="form-group">
    <label for="signup-password">Password (Minimum 8 characters) </label>
    <input type="password" class="form-control" id="signup-password">
  </div>

  <button id="signup-button" class="btn btn-primary">Submit</button>
</form>

<script src="/js/signup.js"></script>