.dashboard-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dashboard-wrapper button {
  padding-left: 25px;
  padding-right: 25px;
}

.create-post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.create-post-form input,
.create-post-form textarea {
  border: 1px solid black;
  box-shadow: 8px 5px 5px rgb(0 0 0 / 75%);
  border-radius: 0.5rem;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.8);
  width: 80vw;
}

.create-post-form textarea {
  height: 200px
}

@media (max-width: 550px) {

  .create-post-form input,
  .create-post-form textarea {
    width: 80vw;
  }
}