/* Homepage */
#post-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.post-comment-wrapper,
.add-comment-container {
  gap: 5px;
}

.post-card {
  border: 1px solid black;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 8px 5px 5px rgb(0 0 0 / 75%);
  border-radius: 0.5rem;
  padding: 10px 20px;
  cursor: pointer;
  transition: 300ms;
}

.post-card:hover {
  position: relative;
  transform: translateY(-3px);
}

.comment-card {
  border: 1px solid black;
  width: 70%;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 8px 5px 5px rgb(0 0 0 / 75%);
  border-radius: 0.5rem;
  padding: 10px 20px;
}

.card-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.create-comment-form {
  width: 100%;
  gap: 5px;
}

.create-comment-form textarea {
  border: 1px solid black;
  box-shadow: 8px 5px 5px rgb(0 0 0 / 75%);
  border-radius: 0.5rem;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.8);
  width: 70%;
  height: 100px;
}

label {
  text-align: center;
}

.error-container, .add-comment-container, .comment-text-wrapper, .create-comment-form, .post-comment-wrapper, .add-comment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.username, .commenter-name {
  font-weight: bold;
  font-size: 20px;
}

h2 {
  font-weight: bold;
}

.error-container p, .error-container h2 {
  color: #fff !important;
}

@media (max-width: 750px) {
  .card-header {
    display: block;
  }

}