/* Main CSS */

header {
  margin-bottom: 75px;
}

.btn, .btn-outline-success {
  background-color: #7762ff !important;
  color: white;
  border-color: #cdd4da !important;
}

.btn:hover, .btn-outline-success:hover {
  background-color: blue !important;
}

.navbar-brand {
  font-size: 30px;
}