/* Main CSS */

body {
  background-image: url("../assets/svg/low-poly-grid-haikei-16-9.svg");
  padding: 0 8vw;
}

header {
  margin-bottom: 90px;
}

p, a, h1, h3, header, label, small {
  color: #fff !important;
}

h2, .post-description {
  color: #000 !important
}

nav {
  background-color: #011828 !important;
}

.btn, .btn-outline-success {
  background-color: #7762ff !important;
  color: white;
  border-color: #cdd4da !important;
}

.btn:hover, .btn-outline-success:hover {
  background-color: #297ea6 !important;
}

.navbar-brand {
  font-size: 30px;
}

